@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body{
  font-family: 'Ubuntu', sans-serif;
}
.card{
  display: flex;
  animation: card_slider 1s ease-in-out;
}

@keyframes card_slider {
  0%{
    display: none;
    opacity: 0;
    transform: translateY(-100%);
  }
  1%{
    display: flex;
    opacity: 0;
    transform: translateY(-100%);

  }
  100%{
    display: flex;
    opacity: 1;
    transform: translateY(0);

  }
}




